.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App{
  text-align: center;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  border: 1px solid white;
  margin-left: 3em;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}



.contact-list i {
  font-size: 50px;
  padding-right: 3rem;
}




.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  padding-top:2rem;
}


.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 4px;
  margin-bottom: 1em;
 
}
.about{
  border: 5px solid white;
  margin-top:10px;
  
  margin-top:4em;
  background: #27221F;
  border-radius: 20px;
  
  
}
.about h1{
  font-family: 'Anton', sans-serif;
  color: white;
}
.about p{
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  color: white;
}
.about pre{
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  color: white;

}
.projects-tabs{
  margin-top:2em;
}
.avatar-img{
  width: 20em;
  height: 20em;
  background-image: url("components/me.jpeg");
 
  border-radius: 50%;
  background-size: cover;
  display: inline-block;
}

.centre{
text-align: center;
}

